[Unit]
Description=Start arbtt

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/home/rayes/.local/bin/arbtt-capture --sample-rate=30

[Install]
WantedBy=default.target
