[Unit]
Description=aria2c download manager
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/aria2c --enable-rpc --daemon --save-session=/home/rayes/.cache/aria2/aria2.session --input-file=/home/rayes/.cache/aria2/aria2.session --rpc-secret=aria2

[Install]
WantedBy=multi-user.target