[Unit]
Description=Actions on suspend, hibernate, and hybrid sleep (see man 7 systemd.special)
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=%h/bin/lock
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
